.navbar {
    background-color: #0F219D; /* Arka plan rengi */
    color: white; /* Yazı rengi */
    padding: 10px 0; /* Üst ve alt boşluk */
    position: fixed; /* Sabit pozisyon */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Diğer elementlerin üzerinde kalması için */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between; /* Öğeleri yatayda dağıt */
    align-items: center; /* Öğeleri dikeyde ortala */
    padding: 0 20px; /* Kenarlardan boşluk */
    max-width: 1200px; /* İçeriğin maksimum genişliği */
    margin: 0 auto; /* Yatayda ortala */
  }
  
  .navbar-logo {
    height: 50px; /* Logo yüksekliği */
  }
  
  .navbar-menu {
    list-style: none; /* Madde işaretlerini kaldır */
    padding: 0;
    margin: 0;
    display: flex; /* Öğeleri yatayda sırala */
  }
  
  .navbar-menu li {
    margin-left: 20px; /* Öğeler arası boşluk */
  }
  
  .navbar-menu li a {
    text-decoration: none; /* Alt çizgiyi kaldır */
    color: white;
    font-weight: bold;
    transition: color 0.3s ease; /* Renk geçişi */
  }
  
  .navbar-menu li a:hover {
    color: #ddd; /* Hover rengi */
  }